@font-face {
    font-family: OpenDyslexic;
    src: url(fonts/OpenDyslexic/OpenDyslexic-Regular.woff) format("woff"),
        url(fonts/OpenDyslexic/OpenDyslexic-Regular.woff2) format("woff2");
}

@font-face {
    font-family: OpenDyslexic;
    src: url(fonts/OpenDyslexic/OpenDyslexic-Bold.woff) format("woff"),
        url(fonts/OpenDyslexic/OpenDyslexic-Bold.woff2) format("woff2");

    font-weight: bold;
}

@font-face {
    font-family: OpenDyslexic;
    src: url(fonts/OpenDyslexic/OpenDyslexic-Italic.woff) format("woff"), url(fonts/OpenDyslexic/OpenDyslexic-Italic.woff2) format("woff2");

    font-style: italic;
}

@font-face {
    font-family: OpenDyslexic;
    src: url(fonts/OpenDyslexic/OpenDyslexic-Bold-Italic.woff) format("woff"), url(fonts/OpenDyslexic/OpenDyslexic-Bold-Italic.woff2) format("woff2");

    font-weight: bold;
    font-style: italic;
}


* {
    font-family: 'Times New Roman', Times, serif;
}

.grid-container {

    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 33% 34% 33%;
    grid-gap: 1rem;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.navigation {
    grid-column-start: 1;
    grid-column-end: 4;
}

#navbar {
    display: flex;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 4;
    position: sticky;
    top: 0px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
}

.content {
    grid-column-start: 2;
    background-color: rgba(255, 255, 255, 0.582);
    display: flex;
    max-width: 100%;
    flex-direction: column;
    border-radius: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 13px 7px rgba(0, 0, 0, 0.10);

}


.menubuttons {
    margin: 1em;
    padding: 1em 2em;
    color: rgb(0, 0, 0);
    background-color: rgb(231, 241, 246);
    font-size: 2vw;
    text-align: center;
    cursor: pointer;
    border-radius: 1rem;
}

#options {
    grid-column-start: 3;
    grid-row-start: 2;
    background-color: rgba(255, 255, 255, 0.582);
    display: flex;
    max-width: 30%;
    max-height: 50%;
    align-self: center;
    padding: 5%;
    flex-direction: column;
    border-radius: 15px;
    border: 2px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 13px 7px rgba(0, 0, 0, 0.10);
}

.settings {
    font-size: 20px;
}

#saveoptions{
    margin-top: 15px;
    padding: 7px 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(231, 241, 246);
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    float: right;
}
#saveoptions:hover{
    background: linear-gradient(rgba(231, 241, 246, 0.05), rgba(163, 224, 255, 0.75));
    animation: changeColour 2s, rainbowz 1s infinite;
    animation-fill-mode: forwards;
}

.menubuttons:hover {
    background: linear-gradient(rgba(231, 241, 246, 0.05), rgba(163, 224, 255, 0.75));
    animation: changeColour 2s;
    animation-fill-mode: forwards;
}

.menubuttons:active {
    background: rgb(163, 224, 255);
}

@keyframes changeColour {
    from {
        background-color: inherit, inherit, inherit, 0.75;
    }

    to {
        background-color: rgb(163, 224, 255);
    }
}

#submitquiz{
    margin-top: 15px;
    padding: 12px 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(231, 241, 246);
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    float: right;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding: 10px;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    background-color: rgba(216, 241, 253, 0.438);
    max-width: 100%;
    overflow-x: hidden;
}